@mixin user-select-custom($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin brightness-hover($value: 85%) {
  filter: brightness($value);
}
