$background-primary: #79aecc;
$background-secondary: #054468;

$input-primary: #0366d6;
$input-secondary: #fa0000;

$map-layer-control-background: #313131D8;
$map-layer-control-background-hover: #313131;
$map-layer-control-color: #f0f0f0;

